  <div class="col-md-5 col-md-offset-1">
    <h2>Dishes</h2>
  </div>
<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <%= link_to new_dish_path, remote: true do %>
      <button class="btn btn-primary">New</button>
    <% end %>
  </div>
</div>
  
<div class="row">
  <div class="col-md-6 col-md-offset-2" id="dish-form" style="display:none"></div>
</div>

<div class="row">
  <div class="col-md-7 col-md-offset-1" id="dishes"><%= render @dishes %></div>
</div>
<script>

</script>