<div id="sidebar" class="col-sm-2 sidebar">
	<!-- sidebar content muestra en el titulo como el nombre del controlador actual esto esta seteado en aplication_controller -->
	<ul class="nav nav-sidebar">
		<li class="<%= @controllerName == 'Ingredient' ? 'active' : '' %>"><%= link_to 'Ingredientes', ingredients_path %></li>
	</ul>
</div>